
<p class="text-sm-center fw-light" style="text-align: center !important; margin-top: 10px !important;">My Beauty Bio -
    Tous droits
    réservés</p>
<script src="/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>