<footer>
    <div class="d-flex justify-content-start align-items-end">
        <img src="/assets/my_beauty_bio(1).png" alt="Logo" width="50px" class="d-inline-block align-text-top img-customisation">
        <p>Institut My Beauty Bio - 9 rue du centre - 75000 Paris - <i class="bi bi-telephone"> 01-02-03-04-05</i></p>
    </div>
    <p class="text-sm-center fw-light" style="padding-left: 20px !important">My Beauty Bio - Tous droits réservés</p>
    <script src="/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
</footer>