<footer>
    <img src="/assets/my_beauty_bio(1).png" alt="Logo" width="100px" class="d-inline-block align-text-top">
    <p class="text-sm-center fw-light">My Beauty Bio - Tous droits réservés - <a href="#" class="text-reset">Mention Légale</a></p>
    <script src="/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
</footer>