<footer>
    <div class="d-flex">
        <img src="/assets/my_beauty_bio(1).png" alt="Logo" width="100px"
            class="d-inline-block align-text-top img-customisation">
            <div class="d-flex flex-column justify-content-start align-items-start">

                <p>Institut My Beauty Bio</p>
                <p>9 rue du centre 75000 Paris</p>
                <p>
                <i class="bi bi-telephone"> 01-02-03-04-05</i>
                </p>
            </div>
        </div>
            <p class="text-sm-center fw-light" style="text-align: center !important">My Beauty Bio - Tous droits
                réservés</p>
            <script src="/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
</footer>