<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/assets/my_beauty_bio.png" alt="Logo" width="70px" class="d-inline-block align-text-top">
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/maquillage">Maquillage</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/soin-du-corp">Soin du corp</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/soin-des-mains">Soin des mains</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/soin-du-visage">Soin du visage</a>
                </li>
            </ul>
        </div>
    </div>
</nav>