<!-- <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">
            <img src="/assets/my_beauty_bio.png" alt="Logo" width="70px" class="d-inline-block align-text-top">
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link link-opacity-10-hover" href="/maquillage">Maquillage</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-opacity-10-hover" href="/soin-du-corp">Soin du corp</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-opacity-10-hover" href="/soin-des-mains">Soin des mains</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-opacity-10-hover" href="/soin-du-visage">Soin du visage</a>
                </li>
            </ul>
        </div>
    </div>
</nav> -->
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/assets/my_beauty_bio.png" alt="Logo" width="70px" class="d-inline-block align-text-center">
        </a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon my-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Accueil
                        <span class="visually-hidden">(current)</span>
                    </a>
                <li class="nav-item">
                    <a class="nav-link link-opacity-10-hover" href="/maquillage">Maquillage</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-opacity-10-hover" href="/soin-du-corp">Soin du corp</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-opacity-10-hover" href="/soin-des-mains">Soin des mains</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-opacity-10-hover" href="/soin-du-visage">Soin du visage</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="header">
    <div class="container-header d-flex flex-column align-items-center">
        <h1 class="fs-3">My Beauty Bio</h1>
        <p class="lh-base">Bienvenue chez <strong>My Beauty Bio</strong> votre institut de beauté
            <strong>biologique</strong>. Vous
            trouverez dans notre institut un panel de produit de <strong>beauté bio et naturel</strong> issus de
            producteurs locaux. Découvrir le maquillage et les soins naturels et bio les plus adaptés selon vos
            préoccupations beauté, votre type de peau, ou encore vos ingrédients préférés ! De quoi trouver votre
            bonheur en
            seulement quelques clics.</p>
    </div>
</div>