<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
    <title><%= title %></title>
</head>

<body>
    <header>
        <%- include('../header') %>
    </header>

    <h1 class="h4">Ajouter un produit</h1>
    <form action="/add-product" method="POST">
        <div class="mb-3">
            <label for="productName" class="form-label">Nom du produit</label>
            <input type="text" class="form-control" id="productName" name="productName">
        </div>
        <div class="mb-3">
            <label for="productPrice" class="form-label">Prix du produit</label>
            <input type="text" class="form-control" id="productPrice" name="productPrice">
        </div>
        <div class="mb-3">
            <label for="productDescription" class="form-label">Description du produit</label>
            <textarea class="form-control" id="productDescription" name="productDescription" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btnSubmit">Valider</button>
    </form>
    <%- include('../footer'); -%>
</body>

</html>